# OpenOCD config for the STM32F3 Discovery (onboard ST-Link/V2-B).
# Used by `make flash` and `make debug`.

source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32f3x.cfg]

reset_config srst_only srst_nogate
